# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.FirstLab.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\C#\FirstLab\.idea\.idea.FirstLab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
